.devon-btn {
    display: inline-block;
    padding: .5rem;
    line-height: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid $blue;
    color: $blue;
    &.active {
        background-color: $blue;
        color: white;
        transition: all 0.2s ease;
    }
}

.no-touchevents {
    .devon-btn {
        &:hover {
            cursor: pointer;
            text-decoration: none;
            background-color: $blue;
            transition: all 0.2s ease;
            color: white;
        }
        &.active {
            &:hover {
                background-color: $blue;
                border-color: $blue;
                color: white;
            }
        }
    }
}

#js-compare-toggle {
    float: right;
    margin-top: -34px;
}
