.devon-btn {
    display: inline-block;
    padding: .5rem;
    line-height: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid $blue;
    color: $blue;
    text-decoration: none;
    &.active {
        background-color: $blue;
        color: white;
        transition: all 0.2s ease;
    }
}

.no-touchevents {
    .devon-btn {
        &:hover {
            cursor: pointer;
            text-decoration: none;
            background-color: $blue;
            transition: all 0.2s ease;
            color: white;
        }
        &.active {
            &:hover {
                background-color: $blue;
                border-color: $blue;
                color: white;
            }
        }
    }
}

#js-compare-toggle {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
}

.input-inline {
    border-radius: 0;
    display: inline-block;
    border: $devon_border;
    background-color: #fff;
    line-height: 1em;
    padding: .1em;
}

.input-inline-submit {
    vertical-align: middle;
    border: 1px solid $blue;
    background-color: #fff;
    color: $blue;
    line-height: 1em;
}