.habitat-row {
    padding-bottom: $default_spacing;
}



// @media screen and ($lg_screen) {
//     .habitat-intro {
//         p {
//             column-count: 2;
//             column-gap: 30px;
//         }
//     }
// }

.habitats {
    clear: both;
    margin-top: $default_spacing;
    // width: 100%;
    // max-width: 1080px;
    // margin: 0 auto;
    min-height: 500px;
    // border: $devon_border;
    border-bottom: 1px solid $border_color;
    background-color: $light_grey;
    padding: $default_spacing;
    display: flex;
    justify-content: space-between;
}

.habitat-wrapper {
    position: relative;
    width: calc(100% - 200px);
    // max-width: 800px;
    // float: right;
}

.habitat-app {
    width: 100%;
    max-width: 600px;
    // display: flex;
    opacity: 1;
    transition: opacity 200ms ease-out;
    &.out {
        opacity: 0;
    }
}

.habitat-list {
    width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
        padding-bottom: $default_spacing/2;

        a {
            display: block;
            transition: transform 100ms ease-in;
            transform:translateX(0px);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            &.active {
                transform:translateX(10px);
                font-weight: bold;
            }
        }
    }
}

// .habitat-inner {
//     width: 100%;
//     // display: flex;
//     // flex-direction: column;
// }


.habitat-title {
    display: none;
    margin: 0 0 $default_spacing/2;
}

.habitat-img {
    // width: 50%;
    // height: 50%;
    // margin-left: $default_spacing*2;
    margin-bottom: $default_spacing/2;
    border: $devon_border;
}

