.species-title {
    margin: 0 0 .2em 0;
    font-size: 1.5rem;
}
.latin-name {
    font-weight: normal;
    font-style: italic;
    font-size: 1rem;
    margin: 0 0 2rem 0;
    color: $grey_mid;
}



.controls {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    > li {
        margin-bottom: .5em;
        flex: 1 1 30%;
    }
}

.overlay-controls {
    li {
        max-width: 197px;
    }
}

.double {
    .latin-name {
        margin: 0 0 1rem 0;
    }
    // .controls {
    //     font-size: .9em;
    // }
}