.overlay {
    &:nth-child(1) {
        z-index: -1;
    }
    &:nth-child(2) {
        z-index: -1;
    }
    &:nth-child(3) {
        z-index: 3;
    }
    &:nth-child(4) {
        z-index: 4;
    }
    &:nth-child(5) {
        z-index: 5;
    }
    &:nth-child(6) {
        z-index: 6;
    }
    &:nth-child(7) {
        z-index: 7;
    }
    &:nth-child(8) {
        z-index: 8;
    }
    &:nth-child(9) {
        z-index: 9;
    }
    &:nth-child(10) {
        z-index: 10;
    }
    &:nth-child(11) {
        z-index: 11;
    }
    &:nth-child(12) {
        z-index: 12;
    }
    &:nth-child(13) {
        z-index: 13;
    }
    &:nth-child(14) {
        z-index: 14;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    &.on {
        opacity: 1;
    }
    &.borders {
        background-image: url('../img/DEVON-outline_3.png');
    }
    &.tk-grid {
        background-image: url('../img/10k.png');
    }
    &.sea {
        background-image: url('../img/sea.png');
    }    
    &.altitude {
        background-image: url('../img/altitude.png');
    }
    &.earth {
        background-image: url('../img/earth.png');
    }
    &.rivers {
        background-image: url('../img/rivers.png');
    }
    /* habitat */
    &.grassland {
        background-image: url('../img/masked-grassland-2.png');
    }
    &.morland {
        background-image: url('../img/masked-moorland-2.png');
    }
    &.urban {
        background-image: url('../img/masked-urban-2.png');
    }
    &.woodland {
        background-image: url('../img/masked-broadleaf-2.png');
    }
    &.arable {
        background-image: url('../img/masked-arable-2.png');
    }
    &.coniferous-woodland {
        background-image: url('../img/masked-con-wood-2.png');
    }
    &.silt {
        background-image: url('../img/masked-silt-2.png');
    }
    &.bog {
        background-image: url('../img/masked-bog-2.png');
    }
}