.select {
    width: 100%;
    padding: 5px;
    height: $select-height;
    line-height: $base_font_size;
    font-size: $base_font_size;
    background-color: $body_bgc;
    border: $devon_border;
    border-radius: 0;
    background: $body_bgc url('../img/select-bg.png') no-repeat center right;
    background-size: 80%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    margin-bottom: 0;
}

/* chosen */
@media screen and ($lg_screen) {
    .select-species {
        // min-height: 50px;
        visibility: hidden;
        &.select-on {
            visibility: visible;
        }
    }
}