.ov-maps-wrap {
    display: flex;
}

.ov-map-lg {
    width: $lg-map-width;
    margin: 0;
}

.ov-map-sm-wrap {
    // width: $sm-ov-map-width;
    width: 580px;
    display: flex;
    justify-content: space-between;
    // flex-direction: column;
    .ov-map-sm {
        margin-left: $default_spacing;
        // &:last-of-type {
        //     margin-top: 20px;
        // }
    }
}

.ov-row {
    &:first-of-type {
        padding-top: $default_spacing/2;
        padding-bottom: $default_spacing/2;
    }
}

.species-account {
    padding: $default_spacing 0;
    min-height: 100px;
    .latin-name {
        display: inline-block;
        line-height: 1em;
        margin: 0 0 0 .5em;
    }
    .species-title {
        display: inline-block;
        line-height: 1em;
        margin-bottom: 10px;
    }
}

.account-text {
    p {
        margin: 0;
        padding-bottom: $default_spacing/2;
    }
    .species-ov-img {
        display: block;
        border: 1px solid black;
        float: right;
        margin: 0 0 2rem 2rem;
    }
}

.ov-map-title {
    margin: .5em 0
}



.ov {

    #m2_ {
        display: block;
    }
}

/* .container */
.ov {
    .container {
        width: 100%;
    }
}

/* .map-full */

.ov {
    #m2_ {
        .map-full {
            align-items: flex-start;
        }
    }
}


/* .map-container */

.ov {
    #m1_ {
        width: $lg-map-width;
        .map-container {
            width: $lg-map-width;
            height: $lg-map-width;
            position: relative;
        }
    }
    #m2_ {
        width: $sm-ov-map-width;
        .map-container {
            width: $sm-ov-map-width;
            height: $sm-ov-map-width;
            position: relative;
        }
    }
    #m3_ {
        width: $sm-ov-map-width;
        .map-container {
            width: $sm-ov-map-width;
            height: $sm-ov-map-width;
            position: relative;
        }
    }
}


@media screen and (max-width: 1025px) {



    .ov-map-lg {
        width: $tablet-map-width;
        margin: 0;
    }


    .ov-map-sm-wrap {
        width: 500px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .ov-map-sm {
            margin-left: $default_spacing*2;
        }
    }

    .ov {
        #m1_ {
            width: $tablet-map-width;
            .map-container {
                width: $tablet-map-width;
                height: $tablet-map-width;
                position: relative;
            }
        }

    }
}

@media screen and (max-width: 768px) {

}


