
.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    li {
        margin-right: .5em;
        a {
            color: $body_color;
            text-transform: uppercase;
            font-size: .9em;
        }

    }
}

.no-touchevents {
    .main-nav {
        a:hover {
            text-decoration: underline;
        }
    }
}