
.desktop-nav-wrap {

}

.desktop-nav {
    list-style: none;
    position: absolute;
    right: 0;
    top: 0;
    li {
        float: left;
        margin: 0;
        padding: 0;
        &:first-of-type {
            a {
                border-left: none;
            }
        }
         &:last-of-type {
            a {
                padding-right: 0;
            }
        }
    }

    a {
        display: block;
        padding: 0 1em;
        line-height: 1em;
        border-left: 1px solid $blue;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .9em;
    }
}

.no-touchevents {
    .desktop-nav, .sub-menu-nav {
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


.sub-menu-nav {
    position: absolute;
    bottom: 0;
    right: 0;
    li {
        margin-left: .75em;
        &.current_page_item {
            a {
                text-decoration: underline;
            }
        }
    }
}











