html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    font-size: $base_font_size;
    color: $body_color;
    font-family: sans-serif;
}

p {
    line-height: 1.3em;
}


.footer {
    min-height: 80px;
    margin-top: $default_spacing;
}

.inner-wrap {
    width: 100%;
    max-width: $max_width;
    margin: 0 auto;
    position: relative;
}

#primary {
    // min-height: 100vh;
    padding-top: $default_spacing;
    position: relative;
}

@media screen and (max-width: $max_width ) {
    .inner-wrap {
        padding: .5em;
    }
}

