html {
    box-sizing: border-box;
    min-height: 100%;
    min-height: 100vh;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    font-size: $base_font_size;
    color: $body_color;
    font-family: sans-serif;
    background-color: $whitesmoke;
}

p {
    line-height: 1.3em;
}

.site {
    min-height: 100%;
    min-height: 100vh;
}


.footer {
    min-height: 80px;
    margin-top: $default_spacing*6;
}

.inner-wrap {
    width: 100%;
    max-width: $max_width;
    margin: 0 auto;
    position: relative;
}

#primary {
    min-height: 90%;
    min-height: 90vh;
    padding-top: $default_spacing;
    position: relative;
}

@media screen and (max-width: $max_width ) {
    .inner-wrap {
        padding: .5em;
    }
}

.body-overlay {
    width: 0;
    height: 0;
    background-color: transparent;

    &.active {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 999903;
        background-color: $lightbox_bgc_dark;
    }
}
