.col-1-2 {
    float: left;
    width: 50%;
    position: relative;
}

.c.col-1-3 {
    float: left;
    width: 33.33%;
    position: relative;
}

.col-2-3 {
    float: left;
    width: 66.66%;
    position: relative;
}