.header {
    border-bottom: 1px solid #e4e4e4;
    background-color: #fafafa;
    position: relative;
    padding: 1em;
}


.logo {
    display: block;
    text-decoration: none;
    width: 160px;
    float: left;
}