.header {
    // box-shadow: $box-shadow;
    border-bottom: 1px solid $border_color;
    background-color: $light_grey;
    position: relative;
    padding: 1em;
}


.logo {
    display: block;
    text-decoration: none;
    width: 160px;
    float: left;
}