@import "vendor/normalize";
@import "colors";
@import "variables";
@import "mixins";
@import "utilities";
@import "global";
@import "typography";
@import "grid";
@import "header";
@import "footer";
@import "svg";

// navigation
@import "navigation/main-nav";
@import "navigation/off-canvas";


// plugins
@import "vendor/chosen";
@import "components/chosen-custom";

// components
@import "components/bx-slider";
@import "components/checkbox";
@import "components/button";
@import "components/state";
@import "components/button";
@import "components/select-inputs";
@import "components/spinner";
@import "components/media";

// pages
@import "pages/banner-image.scss";
@import "pages/page-layout.scss";
@import "pages/image-panel";
@import "pages/home-page-panels.scss";
@import "pages/h-panels.scss";
@import "vendor/bx-slider";


@import "components/tetrad-grid";
@import "components/tetrad-grid-overview";
@import "components/overview-map-state";


@import "components/tetrad-backgrounds";
@import "components/map-controls";
@import "components/map-keys";
@import "components/overlay";
@import "components/map-sitters-underlay";
@import "components/map-meta";
@import "components/map-breeding-toggles";
@import "components/map-tetrad-box";
@import "components/error-msg";

@import "components/richness-controls";
@import "components/richness-tetrad-backgrounds";
@import "components/richness-map-keys";
@import "components/richness-tetrad-results";

@import "components/habitat-content";

@import "components/sub-notes";





// map page layout
@import "pages/map-page-layout";
@import "pages/overview-page-layout";
@import "pages/richness-page";

