.clearfix {
	
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.center--text {
	text-align: center;
}

.nav{
    list-style:none;
    margin: 0;
    padding: 0;

    > li{

        &.active > a {
            }        
        &,
        > a{
            display: inline-block;
           *display: inline;
            zoom: 1;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }

        }
    }
}


.default-space {
    margin-bottom: $default_spacing;
}

.b {
    font-weight: bold;
}

.no-m-p {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid #4B4B45;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}
